ExtraTime=0
share=force_share
JobHeader="LoadLeveler"
Mpi_Network=sn_single
SgeCell="algol.cmc.ec.gc.ca"
CpusPerNode=32
PREEMPT_OK=1
MemoryPerCpu=7000
JobClass=development
TrapArch="IBM"
LLSubmit1=ssh
LLSubmit2=llsubmit
LLSubmit3=""
MachPrefix="ibm_"
#[[ "$queue" = @* ]]  && queue="${queue#@}"
[[ "$queue" = "xfer" ]] && [[ "$cpus" == "1" ]] && test "${OperationalUser}"  = "" && queue=development && t=1750 && ExtraTime=49
[[ "$queue" = "xfer" ]] && [[ "$cpus" != "1" ]] && FatalError "More than 1 cpu or MPI not allowed in transfer jobs"
[[ "$tmpfs" == *[Mm]* ]] && tmpfs=${tmpfs%[Mm]*}
[[ "$tmpfs" == *[Gg]* ]] && tmpfs=${tmpfs%[Gg]*} && ((tmpfs=tmpfs*1024))
[[ "$tmpfs" == *[Kk]* ]] && tmpfs=${tmpfs%[Kk]*} && ((tmpfs=tmpfs/1024))
[[ -n $tmpfs ]] && llv_extra5="@ node_resources = tmpfs(${tmpfs})" && echo RAMDISK requested=${tmpfs}MB
